/* :root{

} */
*{
    box-sizing: border-box;
    /* word-break: normal; */
    word-break: keep-all;
}
ul,li{
    list-style-type: none;
    padding: 0;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,p{
    margin:0;
}
h1.en{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 22pt;
    line-height: 30pt;
}
h1.ko{   
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    line-height: 34pt;
}
h2, .tail__left, .tail__right, .tail__random{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 16pt;
}
h2.menu{
    font-size: 14pt;
}
h3.en{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
}
h3.ko{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding-top: 0.5vw;
}
h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
h4.type-under-title{
    color: tomato;
}
p.description.en{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16pt;
}
p.description.ko{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19pt;
}
p.en.etc{
    padding-top: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15pt;
    color:gray;
}
p.ko.etc{
    padding-top: 10px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16pt;
    color: gray;
}

#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 34px 40px 20px;
}
.navbar__types{
    display: flex;
    flex-wrap: wrap;
}
.navbar__type{
    border: solid 1px black;
    border-radius: 10px;
    padding: 0 10px;
    /* margin: 0 2px; */
    margin: 3px;
}
.selected{
    border-color: tomato;
    color: tomato;
}

.navbar__menus{
    display: flex;
}
.navbar__menu{
    padding: 0 12px;
}
.instagram{
    padding-right: 0;
}
.toggle-btn{
    position: absolute;
    display: none;
    right:10px;
}


#tail{
    /* background-color: yellow; */
    margin: 40px 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.tail__more{
    padding: 0 20px;
    display: flex;
}
#footer{
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: gray;
}



#container{
    padding: 90px 20px;
    width: calc(100vw-56)px;
    display: grid;
    /* grid-template-columns: repeat(3, 30vw);
    grid-template-rows: 30vw; */

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.item__box{
    transition: 0.5s;
}
.item__thumb__img{
    /* border-bottom: solid 1px black; */
    /* min-height: 30vw; */
    visibility: visible;
    object-fit: cover;
    transition: 0.5s;
}
.item__thumb__img:hover{
   opacity: 50%;
   transition: ease-in 200ms;
}
.item__description{
    height: 6vw;
    padding: 4px 0;
}
.item__descriptrion__en{
    display: flex;
    justify-content: space-between;
}
.type-index{
    color: tomato;
}
.hidden{
    visibility: hidden;
}


#project{
    padding: 0 20px;
    padding-top: 100px;
    width: calc(100vw-40)px;
}
.project__text__title{
    text-align: center;
    margin-bottom: 60px;
}
.project__text__description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 60px;
}
.text__description__en, .text__description__ko{
    border-top: solid 1px black;
}
.etc{
    margin-bottom: 10px;
}


.project__image{
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}
.tw1, .tw2{
    max-width: 1200px;
}
.mw2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    max-width: 1920px;
}
.tw2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin: auto;
}



@media screen and (max-width:768px){

    #navbar{
        flex-direction: column;
        align-items: center;
        padding:8px 10px 28px 10px;
    }
    .navbar__types{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .navbar__types,.navbar__menus{
        display: none;
    }
    .toggle-btn{
        display: block;
    }

    #container{
        padding: 60px 10px;
        width: calc(100vw-56)px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    .item__description{
        height: 80px;
        padding: 2px 0;
    }
    h3.en{
        font-size: 12px;
    }
    h3.ko{
        font-size: 10px;
        padding: 5px 0;
    }
    /* .type-index{
        display: none;
    } */

    .project__text__description{
        display: block;
    }
    .mw2{
        display: block;
    }
}